- page_title _('Phabricator Server Import')
- header_title _("New project"), new_project_path
- add_to_breadcrumbs s_('ProjectsNew|Import project'), new_project_path(anchor: 'import_project')

%h1.page-title.d-flex
  .gl-display-flex.gl-align-items-center.gl-justify-content-center
    = sprite_icon('issues', css_class: 'gl-mr-2')
  = _('Import tasks from Phabricator into issues')

= render 'import/shared/errors'

= form_tag import_phabricator_path, class: 'new_project', method: :post do
  = render 'import/shared/new_project_form'

  %h4.gl-mt-0= _('Enter in your Phabricator Server URL and personal access token below')

  .form-group.row
    = label_tag :phabricator_server_url, _('Phabricator Server URL'), class: 'col-form-label col-md-2'
    .col-md-4
      = text_field_tag :phabricator_server_url, params[:phabricator_server_url], class: 'form-control gl-form-input gl-mr-3', placeholder: 'https://your-phabricator-server', size: 40
  .form-group.row
    = label_tag :api_token, _('API Token'), class: 'col-form-label col-md-2'
    .col-md-4
      = password_field_tag :api_token, params[:api_token], class: 'form-control gl-form-input gl-mr-3', placeholder: _('Personal Access Token'), size: 40
  .form-actions
    = submit_tag _('Import tasks'), class: 'gl-button btn btn-confirm'
