- page_title _("GitLab Import")
- header_title _("New project"), new_project_path
- add_to_breadcrumbs s_('ProjectsNew|Import project'), new_project_path(anchor: 'import_project')

%h1.page-title.d-flex
  .gl-display-flex.gl-align-items-center.gl-justify-content-center
    = sprite_icon('tanuki', css_class: 'gl-mr-2')
  = _('Import an exported GitLab project')
%hr

= form_tag import_gitlab_project_path, class: 'new_project', multipart: true do
  = render 'import/shared/new_project_form'

  .row
    .form-group.col-md-12
      = _("To move or copy an entire GitLab project from another GitLab installation to this one, navigate to the original project's settings page, generate an export file, and upload it here.")
  .row
    .form-group.col-sm-12
      = label_tag :file, _('GitLab project export'), class: 'label-bold'
      .form-group
        = file_field_tag :file, class: ''
  .row
    .form-actions.col-sm-12
      = submit_tag _('Import project'), class: 'gl-button btn btn-confirm', data: { qa_selector: 'import_project_button' }
      = link_to _('Cancel'), new_project_path, class: 'gl-button btn btn-default btn-cancel'
