- add_to_breadcrumbs _("Labels"), project_labels_path(@project)
- breadcrumb_title _("Edit")
- page_title _("Edit"), @label.name, _("Labels")

%h1.page-title
  = _('Edit Label')

= render 'shared/labels/form', url: project_label_path(@project, @label), back_path: project_labels_path(@project)
